body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background: aliceblue;
}

input {
    width: 100%;
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

